/* Reset */
body, fieldset, form, h1, h2, h3, img, ol, p, table, td, tr, ul {padding: 0; margin: 0; border: 0;}

a {text-decoration: none;
   color: #006699;}
a:visited {color: #003366;}
body {line-height: 1.8em;
      font-size: 62.5%;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0 2em;
      background-color: #ffffff;}
code {color: #000000;}
h1, h2, h3 {font-weight: bold; clear: both;}
h1 {font-size: 3.6em;
    margin-bottom: .5em;}
h2 {font-size: 2.4em;
    margin-bottom: .75em;}
h3 {font-size: 1.8em;
    margin-bottom: 1em;}
fieldset, p, ul, dl {font-size: 1.4em;
                     margin: 1.286em 0;}
pre {font-family: Monaco, Courier New, monospace; font-size: 1.2em; margin-bottom: 1.5em;}
strong {color: #000000;}
ul {margin-left: 1em;}

/* Structural styles */
#container {width: 960px;
            margin-left: auto;
            margin-right: auto;
            color: #444444;}

/* Header styles */
#title {margin-top: 2.1em;}
#title h2 {font-size: 1.8em; font-weight: normal; margin-bottom: 1em;}
#ribbon {clear: both;
         font-size: 1.5em;
         font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
         margin-bottom: 1.2em;}
#ribbon a {display: inline-block;
           font-weight: bold;
           padding-right: 1em;}
.version {font-weight: bold;}

/* Content styles */
.newfeature {color: #cc0000;}

/* Footer styles */
#footer {clear: both;
         font-size: 1.2em;
         font-family: Arial, Helvetica, sans-serif;
         margin-bottom: 1.5em;
         border-top: 1px solid #666666;}
#credit {float: right;}

#githubribbon {position: absolute; top: 0; right: 0;}
