<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Unit Tests" verbose="1" >

  <test name="Core" >
    <packages>
      <package name="net.footballpredictions.footballstats.model" />
      <package name="net.footballpredictions.footballstats.util" />
    </packages>
  </test>


  <test name="Swing" >
    <packages>
      <package name="net.footballpredictions.footballstats.swing" />
    </packages>
  </test>


  <test name="Applet" >
    <packages>
      <package name="net.footballpredictions.footballstats.applet" />
    </packages>
  </test>


  <test name="Editor" >
    <packages>
      <package name="net.footballpredictions.footballstats.editor" />
    </packages>
  </test>

</suite>
